# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password

POSTGRES_CARDS_DB=cards_db
POSTGRES_WALLETS_DB=wallets_db
POSTGRES_CRYPTO_DB=crypto_db
POSTGRES_META_DB=meta_db

# ClickHouse
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse_password

# Подключения для Go-приложения
CARDS_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-cards:5432/${POSTGRES_CARDS_DB}?sslmode=disable
WALLETS_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-wallets:5432/${POSTGRES_WALLETS_DB}?sslmode=disable
CRYPTO_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-crypto:5432/${POSTGRES_CRYPTO_DB}?sslmode=disable
META_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-meta:5432/${POSTGRES_META_DB}?sslmode=disable
CLICKHOUSE_DSN=clickhouse://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@clickhouse:9000/default